#page-auth {
    @media screen and (min-width: 775px){
        display: flex;
        align-items: stretch;
        height: 100vh;
    }
    // @media screen and (max-width: 775px){
    //     display: flex;
    //     align-items: stretch;
    //     height: 100vh;
    // }

    /* ASIDE */
    aside {
        @media screen and (min-width: 775px){
            flex: 7;
        }
    
        background-color: #835afd;
        color: #fff;
    
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (min-width: 775px){
            padding: 120px 80px;
        }
        @media screen and (max-width: 775px){
            min-height: 90vh;
            padding: 20px;
        }
    
        img {
            max-width: 320px;
        }
        strong {
            font: 700 2.25rem 'Poppins', sans-serif;
            line-height: 42px;
            margin-top: 16px;
        }
        p {
            font-size: 1.5rem;
            line-height: 2rem;
            margin-top: 16px;
            color: #f8f8f8;
        }
    }
    
    /* MAIN */
    main {
        @media screen and (min-width: 775px){
            flex: 8;
            padding: 0 32px;
        }
        @media screen and (max-width: 775px){
            min-height: 90vh;
            padding: 20px;
        }
    
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .settings{
            width: 100%;
            min-height: 50px;
            padding: 9px;
            
            position: absolute;
            top: 0;
            left: 0;

            display: flex;
            justify-content: space-between;
            align-items: center;
            > img{
                width: 32px;
                height: 32px;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
    .main-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 320px;
        align-items: stretch;
        text-align: center;
    
        > img{
            align-self: center;
        }
        h2{
            font-size: 1.5rem;
            margin: 64px 0 24px;
            font-family: 'Poppins', sans-serif;
        }
        span{
            margin-bottom: 5px;
            color: #f00;
        }
    }
    .create-room{
        margin-top: 64px;
        height: 50px;
        border-radius: 8px;
        font-weight: 500;
        background-color: #ea4335;
        color: #fff;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        cursor: pointer;
        border: 0;
    
        transition: filter .2s;
    
        img{
            margin-right: 8px;
        }
        &:hover{
            filter: brightness(.9);
        }
    }
    
    .separator{
        font-size: 0.875rem;
    
        margin: 32px 0;
        display: flex;
        align-items: center;
        gap: 16px;
        color: var(--l-color-alternate);
        &::before{
            content: '';
            flex: 1;
            height: 1px;
            color: var(--l-color-alternate);
        }
        &::after{
            content: '';
            flex: 1;
            height: 1px;
            color: var(--l-color-alternate);
        }
    }
    
    /* FORM */
    .main-content {
        h2{
            color: var(--l-color);
        }
        form{
            input{
                height: 50px;
                border-radius: 8px;
                padding: 0 16px;
                background-color: var(--l-bg-div);
                border: 1px solid var(--l-color-alternative);
                color: var(--l-color);
            }
            button{
                margin-top: 16px;
            }
            button, input{
                width: 100%;
            }
        }
        p{
            font-size: 0.875rem;
            margin-top: 16px;
            color: var(--l-color-alternate-2);
            a{
                color: #3559f9;
            }
        }
    }
}